<section id="angebot">
  <div class="container">
    <div class="section-header">
      <h2>Angebot</h2>
    </div>

    <div class="row">

      <div id="loader">
        <div class="loader-icon">
          <div class="loader">
            <svg class="circular" viewbox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
          </div>
        </div>
      </div>

      <div class="col-xl-12" id="portfolio-list"> <!-- migrated to V4 -->
        <div class="portfolio-items grid">

          <figure class="effect-zoe">
            <a href="angebot1.html" title="Click to view details" class="more"><img src="img/projects/1.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                <h6 class="dark-text">Trance Healing</h6>
              </div>
            </figcaption>
          </figure>

          <figure class="effect-zoe">
            <a href="angebot2.html" title="Click to view details" class="more"><img src="img/projects/2.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                <h6 class="dark-text">Ern&aumlhrung / Di&aumltetik</h6> <!-- PROJECT TITLE -->
              </div>
            </figcaption>
          </figure>

          <figure class="effect-zoe">
            <a href="project1.html" title="Click to view details" class="more"><img src="img/projects/3.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                 <h6 class="dark-text">Project One</h6>  <!-- PROJECT TITLE -->
              </div>
            </figcaption>
          </figure>

          <figure class="effect-zoe">
            <a href="project1.html" title="Click to view details" class="more"><img src="img/projects/3.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                <h6 class="dark-text">Project One</h6>  <!-- PROJECT TITLE -->
              </div>
            </figcaption>
          </figure>

          <figure class="effect-zoe">
            <a href="project1.html" title="Click to view details" class="more"><img src="img/projects/3.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                 <h6 class="dark-text">Project One</h6>  <!-- PROJECT TITLE -->
              </div>
            </figcaption>
          </figure>

          <figure class="effect-zoe">
            <a href="project1.html" title="Click to view details" class="more"><img src="img/projects/3.jpg" alt="">
              <p class="description">
                <span class="icon icon-plus"></span>
              </p>
            </a>
            <figcaption>
              <div class="four-lines">
                <div class="line dark-purple-line-bottom"></div>
                <div class="line purple-line-bottom"></div>
                <div class="line dark-pink-line-bottom"></div>
                <div class="line pink-line-bottom"></div>
              </div>
              <div class="caption-text">
                <h6 class="dark-text">Project One</h6>  <!-- PROJECT TITLE -->
              </div>
            </figcaption>
          </figure>

        </div>
      </div>

      <div id="loaded-content"></div>
      <a id="back-button" class="back-button btn btn-default standard-button dark-purple-button" href="#"><span class="icon icon-arrow-left"></span> Go Back</a>
    </div>
  </div>
</section>
