<section id="angebot" class="bg-primary">
  <div class="container-fluid">
    <div class="section-header">
      <h2>Angebot</h2>
    </div>

    <div class="row">

      <div class="col-xl-4 col-md-6 col-12">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <div class="card bg-secondary">
                <div class="card-block">
                  <h4 class="card-title">Trance Healing</h4>
                </div>
                <img src="img/angebot/1.jpg" alt="Trance Healing" data-holder-rendered="true" style="height: 320px; width: 100%; display: block;">
                <div class="bottom-gradient"></div>
              </div>
            </div>
            <div class="back">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Trance Healing</h4>
                  <p class="card-text">Trance Healing hat seinen Ursprung im englischen Spiritualismus und wurde 1848 durch die Geschwister Fox in den USA ins leben gerufen wurde. Bei dieser Form der Behandlung geht es darum, dass sich die Therapeutin/Medium in die innere Stille begibt und sich mit der geistigen Welt/Gott/spirituelle Intelligenz (oder wie man es nennen mag) verbindet, sich als Kanal zur Verfügung stellt, um einen seelischen und körperlichen Transformations-Prozess anzustoßen.</p>
                  <a href="#" class="btn btn-default standard-button dark-purple-button">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-12">
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <div class="card bg-secondary">
                <div class="card-block">
                  <h4 class="card-title">Ern&aumlhrung / Di&aumltetik</h4>
                </div>
                <img src="img/angebot/2.jpg" alt="Trance Healing" data-holder-rendered="true" style="height: 320px; width: 100%; display: block;">
                <div class="bottom-gradient"></div>
              </div>
            </div>
            <div class="back">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Ern&aumlhrung / Di&aumltetik</h4>
                  <p class="card-text">Die meisten Stoffwechselentgleisungen haben ihren Ursprung in einer ungeeigneten Ernährung. Wenn Sie Ihren Körper und Geist nicht nur gesund halten möchten sondern auch noch Höchstleistungen erwarten, dann gehört eine angepasste Ernährung als Grundvoraussetzung dazu. Eine Ernährungsberatung bietet Unterstützung bei einer Änderung der individuellen Essgewohnheiten und kann sowohl zur Vorbeugung als auch zur Behandlung von ernährungsbedingten Krankheiten durchgeführt werden.
Eine Ernährungsumstellung dient bei Gesunden vor allem der Erhaltung der Gesundheit. Bei vielen chronischen Erkrankungen kann eine gesunde Ernährung dazu beitragen, die Selbstheilungskräfte des Körpers zu unterstützen.</p>
                  <a href="http://www.nhk.ch" class="btn btn-default standard-button dark-purple-button">www.nhk.ch</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
