<section id="contact">
  <div class="container">

    <div class="section-header">
      <h2>Schreib mir</h2>
    </div>

    <div class="row">
      <div class="col-xl-8 offset-lg-2">

        <h6 class="success green-text">Your Message Successfuly Sent</h6>
        <h6 class="error red-text"></h6>

        <form id="contact-form" class="form">
          <div class="row">

            <div class="col-xl-6 col-lg-6">
              <input type="text" id="name" name="name" class="input-field" placeholder="Name">
            </div>

            <div class="col-xl-6 col-lg-6">
              <input type="email" id="email" name="email" class="input-field" placeholder="Email">
            </div>

            <div class="col-xl-12">
              <input type="text" id="subject" name="subject" class="input-field" placeholder="Betreff">
            </div>

            <div class="col-xl-12">
              <textarea name="message" id="message" class="input-field" rows="8" placeholder="Mitteilung"></textarea>
            </div>

            <button type="submit" class="btn btn-default standard-button dark-purple-button">Senden</button>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>
