<!-- Navigation -->
<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fa fa-bars"></i>
  </button>
  <div class="container">
    <a class="navbar-brand" href="#page-top">
      <img src="img/logo.svg" width="auto" height="30" alt="Naturapraxis-Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#intro">Naturapraxis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#leitbild">Leitbild</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#angebot">Angebot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">&Uumlber mich</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#praxis">Praxis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="home">
  <div class="intro-body color-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1>Naturapraxis</h1>
          <h3>Simone Roth-Doggwiler</h3>
          <h6>Euer Körper ist die Harfe eurer Seele,<br/>und es ist an euch,<br/>süße Musik aus ihm zu entlocken oder wirre Töne.<br/>(Khalil Gibran)</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Intro Header
<header id="home">
  <div class="intro-body color-overlay">
    <div class="container image-overlay">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="brand-heading">Naturapraxis</h1>
          <p class="intro-text">Simone Roth Doggwiler</p>
        </div>
      </div>
    </div>
  </div>
</header> -->
