<section id="leitbild" class="bg-inverse">
  <div class="container-fluid">

    <div class="section-header">
      <h2>Leitbild</h2>
    </div>

    <div class="row">

      <div class="col-xl-3 col-md-6 col-12">
        <div class="thema diffuse-shadow bottom-gradient bg-secondary">
          <h4>Heilung</h4>
          <p>
          Der Begriff Heilung bezeichnet den Prozess der Herstellung oder Wiederherstellung der körperlichen und seelischen Integrität aus einem Leiden oder einer Krankheit, oder die Überwindung einer Versehrtheit oder Verletzung durch Genesung.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-12">
        <div class="thema diffuse-shadow bottom-gradient bg-secondary">
          <h4>Gesundheit</h4>
          <p>
          Gesundheit wird allgemein als ein Zustand des körperlichen und/oder geistigen Wohlergehens aufgefasst. Gesundheit hat mit dem Erleben eine subjektive Seite, und erscheint auch objektiv feststellbar über das Nicht-Vorliegen von Krankheit bei Fehlen einer medizinischen Diagnose.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-12">
        <div class="thema diffuse-shadow bottom-gradient bg-secondary">
          <h4>Transformation</h4>
          <p>
          Als Transformation wird in der Molekularbiologie die nicht-virale Übertragung von freier DNA in kompetente Bakterienzellen sowie in Pilze, Algen, Hefen und Pflanzen bezeichnet.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-12">
        <div class="thema diffuse-shadow bottom-gradient bg-secondary">
          <h4>Transmutation</h4>
          <p>
          Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
