<section id="leitbild">
  <div class="container">

    <div class="section-header">
      <h2 class="white-text">Leitbild</h2>
    </div>

    <div class="row">

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="thema diffuse-shadow dark-purple-line-bottom">
          <h5>Heilung</h5>
          <p>
          Der Begriff Heilung bezeichnet den Prozess der Herstellung oder Wiederherstellung der körperlichen und seelischen Integrität aus einem Leiden oder einer Krankheit, oder die Überwindung einer Versehrtheit oder Verletzung durch Genesung.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="thema diffuse-shadow purple-line-bottom">
          <h5>Gesundheit</h5>
          <p>
          Gesundheit wird allgemein als ein Zustand des körperlichen und/oder geistigen Wohlergehens aufgefasst. Gesundheit hat mit dem Erleben eine subjektive Seite, und erscheint auch objektiv feststellbar über das Nicht-Vorliegen von Krankheit bei Fehlen einer medizinischen Diagnose.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="thema diffuse-shadow dark-pink-line-bottom">
          <h5>Transformation</h5>
          <p>
          Als Transformation wird in der Molekularbiologie die nicht-virale Übertragung von freier DNA in kompetente Bakterienzellen sowie in Pilze, Algen, Hefen und Pflanzen bezeichnet.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="thema diffuse-shadow pink-line-bottom">
          <h5>Transmutation</h5>
          <p>
          Analytics release series A financing launch party interaction design android angel investor.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
