<section id="praxis">

  <div class="section-header">
    <h2>Praxis</h2>
  </div>
  
  <div class="jumbotron jumbotron-fluid image-1 image hidden-sm-down">
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <div class="box">
          <div class="content">
            <h3>Standort</h3>
            <p>Die Praxis befindet sich sehr zentral....</p>
          </div>
          <div class="bottom-gradient"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-gradient hidden-sm-down"></div>
  <div class="row hidden-md-up">
    <div class="col-sm-12">
      <div class="box">
        <div class="content">
          <h3>Standort</h3>
          <p>Die Praxis befindet sich sehr zentral....</p>
        </div>
        <div class="bottom-gradient"></div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid image-2 image">
    <div class="row">
      <div class="col-md-4 offset-md-7 col-sm-12">
        <div class="box">
          <div class="content">
            <h3>Abgeholt werden</h3>
            <p>Empfang....</p>
          </div>
          <div class="bottom-gradient"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-gradient"></div>

  <div class="jumbotron jumbotron-fluid image-3 image">
    <div class="row">
      <div class="col-md-4 offset-md-1 col-sm-12">
        <div class="box">
          <div class="content">
            <h3>Wohlf&uumlhlen</h3>
            <p>Gem&uumltlich</p>
          </div>
          <div class="bottom-gradient"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-gradient"></div>

  <div class="jumbotron jumbotron-fluid image-4 image">
    <div class="row">
      <div class="col-md-4 offset-md-7 col-sm-12">
        <div class="box">
          <div class="content">
            <h3>Entspannen</h3>
            <p>Entspannen</p>
          </div>
          <div class="bottom-gradient"></div>
        </div>
      </div>
    </div>
  </div>

</section>
