{{#extend "default"}}

  {{#content "main"}}

    {{#block "intro"}}
    {{> intro}}
    {{/block}}

    {{#block "leitbild"}}
    {{> leitbild}}
    {{/block}}

    {{#block "angebot"}}
    {{> angebot}}
    {{/block}}

    {{#block "about"}}
    {{> about}}
    {{/block}}

    {{#block "praxis"}}
    {{> praxis}}
    {{/block}}

    {{#block "praxis2"}}
    {{> praxis2}}
    {{/block}}

    {{#block "testimonials"}}
    {{> testimonials}}
    {{/block}}

    {{#block "newsletter"}}
    {{> newsletter}}
    {{/block}}

    {{#block "contact"}}
    {{> contact}}
    {{/block}}

  {{/content}}

{{/extend}}
