<section id="intro">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="featured-image purple-gradient-overlay">
          <img src="img/naturapraxis.jpg" alt="praxis">
          <div class="image-border"></div>
        </div>
      </div>

      <div class="col-lg-7 col-sm-12 overflow-box pull-right">
        <div class="box diffuse-shadow">

          <div class="content">
            <h2 class="section-heading text-left">Naturapraxis</h2>
            <p class="text-left">
              Es ist mir ein Anliegen, dass es ein miteinander Arbeiten an Ihrer Gesundheit ist, resourcen & lösungsorientiert.<br/>Zusammen bestimmen wir den Weg um ihr gewünschtes Ziel zu erreichen.<br/><br/>Aus meinem breitem Wissen, aus der Schul- / Alternativmedizin und naturheilkundlichen Bereichen ist es mir eine Freude Sie zu begleiten, damit Ihr Körper, Geist und Seele wieder harmonieren.
            </p>
          </div>

          <div class="four-lines">
            <div class="line dark-purple-line-bottom"></div>
            <div class="line purple-line-bottom"></div>
            <div class="line dark-pink-line-bottom"></div>
            <div class="line pink-line-bottom"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

