<section id="praxis">
  <div class="container">
    <div class="section-header">
      <h2>Praxis</h2>
    </div>
    <div class="row parts">
      <div class="col-xl-6 offset-lg-3"> <!-- migrated to V4 -->
        <div class="part image-position image-1 clearfix">
          <div class="box-left diffuse-shadow dark-purple-line-bottom white-bg">
            <div class="content-area">
              <h4 class="text-left">Standort</h4>
              <p class="text-left">
                Die Praxis befindet sich sehr zentral....
              </p>
            </div>
          </div>
        </div>
        <div class="part image-position image-2 clearfix">
          <div class="box-right diffuse-shadow purple-line-bottom white-bg">
            <div class="content-area">
              <h4 class="text-left">Research &amp; Planning</h4>
              <p class="text-left">
                Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
              </p>
            </div>
          </div>
        </div>
        <div class="part image-position image-3 clearfix">
          <div class="box-left diffuse-shadow dark-pink-line-bottom white-bg">
            <div class="content-area">
              <h4 class="text-left">Wireframe &amp; Design</h4>
              <p class="text-left">
                Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
              </p>
            </div>
          </div>
        </div>
        <div class="part image-position image-4 clearfix">
          <div class="box-right diffuse-shadow pink-line-bottom white-bg">
            <div class="content-area">
              <h4 class="text-left">Development</h4>
              <p class="text-left">
                Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
