<section class="fixed-bg" id="testimonials">
  <div class="color-overlay">
    <div class="container">
      <div class="section-header">
        <h2 class="white-text">Testimonials</h2>
      </div>

      <!-- <div class="owl-carousel owl-theme"> -->
        <div class="row">
          <div class="single-feedback">

            <div class="col-xl-4">
              <div class="client-image">
                <img src="img/feedbacks/client-1.jpg" alt="">
                <div class="image-border"></div>
              </div>
            </div>

            <div class="col-xl-8">
              <div class="feedback-content">
                <div class="q-sign top">
                  “
                </div>
                <blockquote class="clearfix">
                  <p class="text-left">
                    Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
                  </p>
                  <cite class="float-left text-left">
                    <div class="client-image hidden-lg-up">
                      <img src="img/feedbacks/client-1.jpg" alt="">
                    </div>
                    <div class="client-details">
                      <div class="signature">
                        <img src="img/feedbacks/signature-1.png" alt="">
                      </div>
                      <h6 class="dark-text">Melina Albrecht</h6>
                      <div class="extra-small-text">
                        Founder, TingTong
                      </div>
                    </div>
                  </cite>
                </blockquote>
                <div class="q-sign bottom">
                  ”
                </div>
                <div class="four-lines">
                  <div class="line dark-purple-line-bottom"></div>
                  <div class="line purple-line-bottom"></div>
                  <div class="line dark-pink-line-bottom"></div>
                  <div class="line pink-line-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- </div> -->
    </div>
  </div>
</section>

