<section id="ueber-mich">
  <div class="container">

    <div class="section-header">
      <h2 class="white-text">&Uumlber mich</h2>
    </div>

    <div class="row">
      <div class="member-list">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12"> <!-- migrated to V4 -->
          <div class="single-member dark-pink-line-bottom diffuse-shadow">
            <div class="member-pic purple-gradient-overlay">
              <div class="gradient">
                <img src="images/simone/1.jpg" alt="Simone">
              </div>
            </div>
            <h6 class="purple-text">Simone Roth-Doggwiler</h6>
            <div class="extra-small-text">
              “Ich bin all das was Du in mir sehen willst und noch viel mehr“
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-12"> <!-- migrated to V4 -->
          <div class="description white-bg diffuse-shadow pink-line-bottom">
            <p class="text">geboren 05.11.1979<br/>
Ehefrau & Mutter einer Tochter<br/>
Naturheilpraktikerin TEN <br/>
Coach<br/>
Bioenergetikerin<br/>
Meditationslehrerin<br/>
Reiki-Meisterin<br/>
Pharma-Assistentin mit diversen Weiterbildung in Alternativmedizin (Schüssler Salze, Homöopathie, Spagyrik, Aromatherapie, uvm)
            </p>
            <p class="text">Ich liebe es mit den Menschen zu arbeiten.<br/>
In meinem 1. Beruf als Pharma-Assistentin (13 Jahre) liebte ich den Kontakt mit den Menschen, bis ich bemerkte, dass mir die Hände fehlen, da die meisten Menschen über den Körper gut regenerieren können. So entschied ich mich zur Ausbildung zur Naturheilpraktikerin TEN mit Fokus Körpertherapie. Seit 2009 darf ich nun diese Tätigkeit in meiner Praxis ausüben und bin glücklich und dankbar meine Leidenschaft gefunden zu haben.
Spirituell habe mich vermehrt nach der Geburt meiner Tochter intensiver Weitergebildet und freue mich meinen Alltag mit meiner medialen Fähigkeiten abzurunden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
