#intro {
  color: $main-dark;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: $main-light;
  .featured-image {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
  }
  .box {
    background: #ffffff;
    position: relative;
    margin-top: 75px;
    z-index: 10;
    overflow: hidden;
    .content {
      padding-top: 60px;
      padding-left: 82px;
      padding-right: 82px;
    }
    p {
      margin-top: 22px;
      margin-bottom: 100px;
      position: relative;
    }
  }
  .overflow-box {
    margin-left: -200px;
    position: relative;
    z-index: 10;
  }
}
